.Button {
   background-color: #2e2d2b;
   border: none;
   border-radius: 50% !important;
   height: 45px;
   width: 45px;
}

.Button:hover {
    background-color: #2e2d2b;
    border: none;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.PlayIcon {
    font-size: 17pt;
}

.PreSongIcon {
    color: #bbbbbb;
    font-size: 17pt;
}

.MusicBar {
    position: fixed;
    z-index: 1300;
    bottom: 0px;
    background-color: rgb(26, 25, 25);
    padding-top: 20px;
    padding-bottom: 5px;
}

.ColorPrimary {
    color: #979797;
    font-size: 10pt;
}

.ListRoot {
    width: 100%;
    max-width: 220px;
    position: relative;
    overflow: auto;
    max-height: 500px;
}

.browserlist{
    overflow-y:scroll;
    height: 100%;
    width: 100%;
    display:block;
 }

 .image-table {
     width: 48px;
     height: 48px;
 }

 p {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
 }

 .author{
     font-size: 10pt;
     color: #7a7977;
 }

 .MuiDrawer-paper {
     background-color: black !important;
 }

 .icon-route {
     color: #7a7977;
 }

 .text-route {
    color: #7a7977;
}

.link-route {
    text-decoration: none !important;
}

.drawer-divider {
    background-color: #bbbbbb !important;
    opacity: 0.32;
}

.image-browser {
    width: 256px;
}

.table-cell-mlist span {
    color: rgb(172, 172, 172);
}

.table-cell-mlist {
    border: none !important;
}

.table-head-cell-mlist {
    background-color: rgba(172, 172, 172, 0) !important;
    border-color: rgba(109, 109, 109, 0.5) !important;
}

.table-head-cell-mlist span {
    color: rgb(172, 172, 172);
    font-weight: lighter;
    font-size: 11pt;
}

.title {
    color: antiquewhite;
}

.test {
    position: absolute;
    left: 230px;
    width: calc(100% - 230px);
}

.gradient {
    position: absolute;
    background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 10%, rgba(18,18,19,1) 18%, rgba(18,18,20,1) 24%, rgba(18,19,22,1) 30%, rgba(22,31,62,1) 44%, rgba(25,38,88,1) 54%, rgba(17,91,139,1) 73%, rgba(9,149,195,1) 87%, rgba(5,178,223,1) 93%, rgba(5,178,223,1) 94%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 650px;
    z-index: -100;
}

.playlist-header {
    margin-top: 40px;
}

.table-cell-row-mlist:hover  {
    background-color: #272727 !important;
    opacity: 6;
}

.Mui-selected  {
    background-color: #424242 !important;
}

.Mui-selected .title  {
    color: rgb(30,215,90);
}

.Mui-selected .id  {
    color: rgb(30,215,90);
}

.Mui-selected .table-active-mlist span {
    color: antiquewhite;
}

.Mui-selected .table-active-mlist {
    color: antiquewhite;
}

.header-text {
    text-align: left;
}

.header-text h1 {
    color: white;
    font-weight: bold;
}

.header-text h2 {
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
}

.header-text span {
    color: white;
}

.table-list {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.play-button {
    background-color: white !important;
    width: 30px !important;
    height: 30px !important;
    min-height: 30px !important;
}

.pause-button {
    background-color: white !important;
    width: 30px !important;
    height: 30px !important;
    min-height: 30px !important;
}

.margin-buttons {
    padding-top: 5px;
    padding-right: 10px;
}

.margin-buttons-next {
    padding-top: 5px;
    padding-left: 10px;
}

.MuiSlider-rail {
    color: #7a7977 !important;
    padding: 2px;
}

.MuiSlider-track {
    color: #a1a1a1 !important;
    padding: 2px;
}

.MuiSlider-thumb {
    display: none !important;
}

.slider {
    margin-top: 12px;
}