.device-box {
    margin-left: 30px;
}

.device-text {
    float: left;
    margin-top: 12.5px;
    margin-left: 15px;
}

.device-img {
    float: left;
}

.song-name {
    display: block;
    color: rgb(202, 202, 202);
    font-size: 12pt;
}

.artists {
    display: block;
    color: rgb(161, 161, 161);
    font-size: 8pt;
}
