.listitemtext {
    font-size: 10pt !important;
    color: #b8b8b8;
}

.listitem {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.ListRoot {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }